/* Styles for the match display container */
.display-match {
  max-width: 842px;
  height: 844px;
  flex-grow: 1;
  flex-basis: 0;

  /* Styles for SVG elements within the match display container */
  svg {
    width: 100%;
    height: 100%;
  }
}
