.btns-container {
  position: absolute;
  right: 10px;
  padding-right: 47px;

  .exit-btn {
    min-width: 132px;
    height: 62px;
    padding: 16px;
    background: #d4190c;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    border: none;
    color: #fff;
  }
}
