/* Styles for the header container */
.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 144px;
  position: relative;
  padding-top: 32px;

  /* Styles for the title element within the header */
  .title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 40.19px;
    line-height: 40.19px;
    letter-spacing: 0.09px;
    color: #fff;
    margin: 0;
  }

  /* Styles for the buttons container within the header */
  .btns-container {
    position: absolute;
    right: 10px;
    padding-right: 47px;
    display: flex;
    column-gap: 29px;
  }
}
