.header-container {
  display: flex;
  justify-content: center;

  position: relative;
  padding-top: 32px;
  .title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 40.19px;
    line-height: 40.19px;
    letter-spacing: 0.09px;
    color: #fff;
    margin: 0;
  }
}
