.gameLaunch-container {
  max-width: 915px;

  margin: 0 auto 73px;

  h2 {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-bottom: 92px;
  }

  .players {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 66px;
    margin-bottom: 92px;

    svg {
      display: block;
    }
  }
  .play-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 217px;
  }
}
