/* Styles for the game launcher container */
.gameLaunch-container {
  max-width: 915px;

  margin: 0 auto 73px;

  /* Styles for the heading within the container */
  h2 {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-bottom: 92px;
  }

  /* Styles for the container holding player inputs */
  .players {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 66px;
    margin-bottom: 92px;

    /* Additional styles for SVG elements within this container */
    svg {
      display: block;
    }
  }

  /* Styles for the container holding the "Let's Play" button */
  .play-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 217px;
  }
}
