/* Styles for the game board container */
.gameboard-container {
  padding: 0 47px 50px 47px;

  /* Styles for the game board */
  .gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
  }

  /* Styles for the cards container */
  .cards {
    max-width: 842px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: linear-gradient(
      133deg,
      rgba(255, 255, 255, 0.6) 0.62%,
      rgba(255, 255, 255, 0.1) 102.4%
    );
    flex-grow: 1;
    flex-basis: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;
    row-gap: 24px;
    padding: 26px 17px;

    .play-btn {
      display: flex;
      justify-content: center;
    }
  }
  /* Media query for screens with a maximum width of 1380px */
  @media screen and (max-width: 1380px) {
    .cards {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
