.image-container {
  .playerImg {
    height: 222px;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  input {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 374px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #f1f5f9;
    background: #f1f5f9;
    color: #1e293b;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 48px;

    &:focus {
      outline: none;
    }
  }
}
